@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body {
    background-image: url("../images/pngtree-summer-pure-white-flowers-background-material-poster-whiteflowerbackgroundpostermaterial-image_50131.jpg");
	background-size: cover;
}
.pink {
	color: palevioletred;
	text-align: center; 
}
#green {
	color: darkgreen; 
}
div p {
    float: none;
}
div p {
    clear: both;
}
.my-container {
	margin-bottom: 20px;
	margin-top: 20px;
}
#header {
	display: inline block;
	background: white;
	font-size: 30px;
	text-align: center;
}
.my-container {
	border: dashed; 
	border-color: palevioletred;
	margin-left: 100px;
	margin-right: 100px;
}
.centered {
	text-align: center;  
}
#pink-image {
    background-image: url("../images/Color_rosa_palo.jpg");
}
.margin-text {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.font-family {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px; 
}
.footer {
	display: inline block;
	background: white;
	font-size: 12px;
	text-align: center;
}
li {
	display: inline-block; 
	background: white;
	padding: 5px 5px;
	margin-top: 10px;
}
nav {
	text-align: center; 
}
li {
	color: green;
	font-weight: bold;
}